{
  "extends": "airbnb-base",
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "max-len": [1, 80, { "tabWidth": 2, "ignoreComments": true }],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "object-curly-newline": "off"
  }
}
